<div class="mt-2">
    <form method="POST" action="">
  <div class="form-group">
    <label for="form-input">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="form-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
  </div>
  
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>